ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
    width: 200px; 
    background-color: grey;
    
    }
    li a {
        display:block;
        color:#000; 
        text-decoration: none; 
        width: 60px;
    }
 
li a  hover {
    background-color: #555; 
    color: white; 
} 